Source: tuxbox-driver
Priority: optional
Maintainer: Bastian Blank <waldi@debian.org>
Build-Depends: debhelper (>> 3.0.0), gcc-3.2
Standards-Version: 3.5.7

Package: tuxbox-driver-dev
Section: devel
Architecture: all
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

